// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$spacer: 30px;
$color_main: green;
$color_text: #78626a;

html, body {
  //background-color: red !important;
  margin: 0;
  padding: 0;
  h1, h2, h3, h4, h5, h6, a {
      color: $color_main;
  }
}

nav {
  .menu-main-container{
    ul.cd-nav {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        a {
          color: $color_main;
          text-decoration: none;
          padding-top: calc(50% - 24px);
        }
        &:hover a, &.cd-selected a {
          background-color: $color_main;
          color: lighten($color_main, 60%);
        }
      }
    }
  }
}


.cd-section {
  background-color: #eee;
  padding: $spacer;
  header {
    background: none;
    position: static;
    height: auto;
    h2 {

    }
  }
}

.cd-section.cd-selected {
  background-color: white;
}



#menu-main {
  li {
    a{
      font-size: 2.5rem;
    }
  }
}
